@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbare-width: thin;
  color-scheme: dark;
}

pre code {
  @apply inline-block bg-transparent;
  --sh-class: #f7a04c;
  --sh-identifier: #df206e;
  --sh-sign: #ddd;
  --sh-property: #0ca5a7;
  --sh-entity: #eb5050;
  --sh-jsxliterals: #ccc;
  --sh-string: #f7b982;
  --sh-keyword: #cd67ba;
  --sh-comment: #777;
}

code {
  @apply inline-flex items-center rounded-md bg-neutral-700 px-1 py-0 text-[15px] text-neutral-200;
}

h2 code {
  @apply text-[19px];
}

pre {
  @apply my-6 overflow-x-auto overflow-y-hidden rounded-md bg-neutral-950 p-3;
}

.mdx {
  line-height: 1.75;
}

pre code.language-bash span {
  color: #aaa !important;
}
